@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
  font-family: 'Raleway', sans-serif, bold;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
  
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background: #232427;
  }
  
.container-topo{
  background-color: white;
  width: 100vw;
  height: 40px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-content: space-between;
  float: left;
}
.container-topo > .procurar{
  display: none;
}

.container-meio-topo{
  height: 100vh;
  width: 100vw;
  background-image: url('imagens/london.jpg');
  }

.abas{
  position: relative;
  top: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  }

.abas > .opt{
  font-size: 11pt;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 22px ;
  color: white;
  background-color: black;
  width: 600px;

}
.abas > .formulario{
  font-family: 'Raleway';
  display: flex;
  gap: 18vw;
  background-color: white;
  height: 100px;
  width: 600px;
  }
div .iform{
  height: 4vh;
  width: 30vw;
  position: relative;
  display: inline-flex;
  border: black solid 1px;
  border-radius: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  }




