@charset "UTF-8";
@font-face {
    font-family: family;
    src: url('Family\ Home.ttf') format('truetype');
}
@font-face{
    font-family: valorantf;
    src: url('fontes/Valorant\ Font.ttf');
}
@font-face{
    font-family: f1;
    src: url('fontes/KGWhattheTeacherWants.ttf')
}
nav.bg {

  width:100%;
  float:left; 
  text-align:center;  
  background-color: rgba(34, 20, 43, 0.699);
  padding:1.5em 0em;

}

nav a {

  position: relative;
  display: inline-block;
  margin:5px 30px;
  outline: none;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3em;
  transition:0.6s; 

}

nav a:hover,
nav a:focus {

  transition:0.4s;
  outline: none;
  color:#e750ec; 

}
.bg a::before,
.bg a::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75px;
  height: 75px;
  border: 2px solid rgba(130, 0, 252, 0.18);
  border-radius: 50%;
  content: '';
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
  -moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
  transform: translateX(-50%) translateY(-50%) scale(0.2);
}

.bg a::after {
  width: 50px;
  height: 50px;
  border-width: 6px;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
  -moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
  transform: translateX(-50%) translateY(-50%) scale(0.8);
}

.bg a:hover::before,
.bg a:hover::after,
.bg a:focus::before,
.bg a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
  -moz-transform: translateX(-50%) translateY(-50%) scale(1);
  transform: translateX(-50%) translateY(-50%) scale(1);
}

a{
    text-decoration: none;
    color: white;
}

h1{
    font-size: 900px;
    text-align: center;
    font-family: f1;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 7px black;
    position: static;
    left: 50vh;
}

img{
    width: 100%;
    height: 100%;
}

.item{
    border: 1px solid rgba(255,255,255, .25);
    border-radius: 4px;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform .5s;
}
.item > img{
  position: relative;
  left: 10%;
}

.agt-title:hover{
    transform: translateZ(10px) rotateX(20deg) rotateY(30deg);
}

.agt-title{
    font-family: valorantf;
    font-size: 50px;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0);
    transform: translateY(-50%);
    transition: transform .5s;
}

.agt-title{
    transform: translateZ(50px);
}


body,
html {
  background-image: url('imagens/agents.jpg');
  background-repeat: no-repeat;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.slideshow {
  position: relative;
  z-index: 1;
  height: 100%;
  max-width: 400px;
  margin: 50px auto;
}
.slideshow * {
  outline: none;
}
.slideshow .slider {
  box-shadow: 0 20px 50px -25px black;
}
.slideshow .slider-track {
  transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
}
.slideshow .item {
  height: 100%;
  position: relative;
  z-index: 1;
}
.slideshow .item img {
  width: 70%;
  transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  transform: scale(1.2);
}
.slideshow .item.slick-active img {
  transform: scale(1);
}