@charset "UTF-8";
@font-face {
    font-family: f2;
    src: url('../fontes/Family\ Home.ttf');
}
@font-face{
    font-family: valorant;
    src: url('../fontes/Valorant\ Font.ttf');
}
@font-face{
    font-family: fo;
    src: url('fontes/KGWhattheTeacherWants.ttf')
}
@font-face{
    font-family: tug;
    src: url('../fontes/Tungsten-Bold.ttf');
}
@font-face{
    font-family: f4;
    src: url('../fontes/665-font.otf');
}

*{
margin: 0px;
padding: 0px;
}

html{
width: 100vw;
height: 100vh;
overflow-x: hidden;
}
body{
    background-image: url('../imgreynaa/jet.png');
    background-size: cover;
    background-color: rgb(34, 20, 43);
    background-repeat: no-repeat;
    margin: 0px;
    max-height: 100%;
    max-width: 100%;
}



@keyframes movimento{
    from { background-position: 0 0;}
    to { background-position: 100% 100%;}
}

.desc > h2{
    font-size: 40px;
    font-family: tug;
    position: relative;
    left: 20px;
    top: -40px;
    background-image: url('../imagens/Duelist.png');
    background-repeat: no-repeat;
    background-position: 110px 9px;
    background-size: 25px;
}
.desc > h3{
    margin-left: 8px;
    font-family: 'Courier New', Courier, monospace;
}
.desc > p{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: -15px;
    margin: 5px;
    
}
 
 .container {
   width: 220px;
   height: 220px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
 }
 
 .box {
   position: absolute;
   width: 320px;
   height: 390px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   border-radius: 3px;
   overflow: hidden;
   -webkit-transition: -webkit-box-shadow ease 1s;
   transition: -webkit-box-shadow ease 1s;
   transition: box-shadow ease 1s;
   transition: box-shadow ease 1s, -webkit-box-shadow ease 1s;
 }
 
 .icon {
   position: relative;
   margin-top: 8px;
   -webkit-transition: all 0.6s ease;
   transition: all 0.6s ease;
   -webkit-transition-delay: 0.32s;
           transition-delay: 0.32s;
   will-change: transform;
 }
 
 .icon_bg {
   width: 80px;
   height: 80px;
   border-radius: 100%;
   border: 1px solid rgba(225, 227, 232, 0.18);
   -webkit-box-shadow: 0 3px 4px 0 rgba(105, 142, 243, 0.25);
           box-shadow: 0 3px 4px 0 rgba(83, 106, 170, 0.25);
   background-image: url('../imagens/Duelist.png');
   background-size: 80px;
   background-repeat: no-repeat;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-transition: all 0.6s ease;
   transition: all 0.6s ease;
   -webkit-transition-delay: 0.32s;
           transition-delay: 0.32s;
   will-change: transform;
 }
 
 .title {
    font-size: 40px;
   position: relative;
   font-family: tug;
   color: white;
   text-decoration: overline;
    text-shadow: black 2px 2px 3px;
 }
 
 .super-box:hover .box {
 /*   border: 1px solid rgba(225, 227, 232, 0.18); */
   -webkit-box-shadow: 0 3px 4px 0 rgba(44, 71, 146, 0.25);
           box-shadow: 0 3px 4px 0 rgba(44, 71, 146, 0.25);
   -webkit-transition-delay: 0.32s;
           transition-delay: 0.32s;
 }
 
 .super-box:hover .icon_bg {
   -webkit-transform: translateY(-32px) scale(6);
           transform: translateY(-32px) scale(6);
           opacity: 0;
 }
 
 .super-box:hover .icon {
   -webkit-transform: translateY(-48px) scale(1.4);
           transform: translateY(-48px) scale(1.4);
 }
 
 .super-box {
    width: 220px;
   height: 220px;
   position: relative;
   left: 85%;
   top: 30vh;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
 }
 
 .text {
   position: relative;
   top: -32px;
   width: 300px;
   text-align: center;
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
   -webkit-transition-delay: 0.32s;
           transition-delay: 0.32s;
 }
 
 .super-box:hover .text {
   opacity: 0;
   -webkit-transform: translateY(-4px) scale(.8);
           transform: translateY(-4px) scale(.8);
   
 }
 .box::after {
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.76) 0%, rgba(255, 255, 255, 0.5) 40%, rgba(19, 255, 145, 0.103) 60%, rgba(46, 9, 255, 0.123) 100%);
    background-size: 200% 200%;
    animation: movimento 3s linear infinite alternate;
   content:"Criada no coração do México, Reyna domina o combate individual, destacando-se a cada abate efetuado. Sua capacidade só é limitada por sua própria perícia, tornando-a bastante dependente de desempenho.";
   position: absolute;
   width: 290px;
   top: 111px;
   opacity: 0;
   font-size: 20px;
   border-radius: 8px;
   color: #ffffff;
   line-height: 20px;
   -webkit-transition: all 0.3s ease;
   transition: all 0.3s ease;
   -webkit-transition-delay: 0.32s;
           transition-delay: 0.32s;
 }
 
 .super-box:hover .box::after {
   opacity: 1;
 }

.dr {
position: absolute;
  bottom: 16px; 
  right: 16px;
  width:100px;
}
 

