@charset "UTF-8";
@font-face {
    font-family: family;
    src: url('Family\ Home.ttf') format('truetype');
}


img {
    max-width: 100%;
    height: 100%;
}


h1 {
    font-family: 'F';
    color: orange;
    position: absolute;
    top: 0;
    left: 40%;
}

.card, .card2, .sage, .raze,.reyna{
    perspective: 900px;
}

.card, .card2, .sage, .raze,.reyna{
    width: 5%;
    height: 15%;
    position: absolute;
    top: 75%;
}

.card{

    background: url('imagens/jet.png');
    background-size: cover;
    border: 1px solid rgba(255,255,255, .25);
    border-radius: 4px;
    position: absolute;
    left: 26%;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform .5s;
}
#jett > p{
    display: none;
    color: white;
    height: 20%;
    width: 25%;
    position: absolute;
    top: 40%;
    left: 25%;
    font-family: ('font-family');
}
#jett:hover > p{
    display: block;
}





#jett > h1{
    font-family: 'Courier New', Courier, monospace;
    display: none;
    position: absolute;
    top: 30%;
    left: 30%;
    color: white;
}
#jett:hover > h1, #dudu{
    display: block;
}

/* Todos os agentes */
div > img{
    position: absolute;
    top: 0%;
    left: 0%;
    width: auto;
    height: 98%;

}

/* Raze */
#raze > img{
    display: none;
}
#raze:active > img{
    display: block;
}



/* JETT */
#jett > img{
    display: none;
}
#jett:hover > img{
    display: block;
}



/* Reyna */
#rey > img{
    display: none;
}
#rey:hover > img{
    display: block;
}


/* CHAMBEER */
#cha > img{
    display: none;
}
#cha:hover > img{
    display: block;
}

/* SAGE */
#s > img{
    display: none;
}

#s:hover > img{
    display: block;
}

.card:hover, .card2:hover, .sage:hover, .raze:hover, .reyna:hover{
    transform: translateZ(10px) rotateX(20deg) rotateY(30deg);
}

.card-title, .card2-title, .sage-title, .raze-title, .reyna-title{
    font-size: 22px;
    color: white;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 80%;
    right: 4px;
    transform: translateY(-50%);
    transition: transform .5s;
}
.card-title .card:hover, .card-title, .card2-title .card2-title, .sage:hover .sage-title, .raze:hover .raze-title{
    transform: translateZ(50px);
}

/* card2 */

.card2{
    background: url('imagens/Chamber.png');
    background-size: cover;
    border: 1px solid rgba(255,255,255, .25);
    border-radius: 4px;
    position: absolute;
    left: 33%;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform .5s;
}


.sage{
    background: url('imagens/sage.png');
    background-size: cover;
    border: 1px solid rgba(255,255,255, .25);
    border-radius: 4px;
    position: absolute;
    left: 38.3%;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform .5s;
}

.raze{
    background: url('imagens/raze.png');
    background-size: cover;
    border: 1px solid rgba(255,255,255, .25);
    border-radius: 4px;
    position: absolute;
    left: 43.5%;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform .5s;
    }
.reyna{
    background: url('imagens/Reyna.png');
    background-size: cover;
    border: 1px solid rgba(255,255,255, .25);
    border-radius: 4px;
    position: absolute;
    left: 48.7%;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform .5s;
}


